body {
  background-color: black;
  font-family: "Verdana", sans-serif;
  text-align: center;
  color: white;
}

h1 {
  font-weight: 400;
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

p {
  font-size: 21px;
  color: gray;
}

.downex {
  color: aquamarine;
  font-size: 16px;
}

.camp {
  margin-bottom: 30px;
}

.footer {
  text-align: right;
  color: gray;
}